@import "../../Styles/var";

.guest__form {
  width: 100%;
  min-height: 760px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;

  input {
    padding: 0.8em 1em;
    width: 500px;
    margin-bottom: 1em;
    @media #{$phone} {
      width: 80%;
    }
  }

  a {
    color: $white;
  }

  .form__submit {
    @include button;
    color: $white;
  }

  textarea {
    width: 500px;
    padding: 1em;
    min-height: 550px;
    resize: none;

    @media #{$phone} {
      width: 80%;
    }
  }
}
