@import "../../Styles/var";

.contents {
  width: 100%;
  padding: 3em;
  display: flex;
  flex-direction: column;
  min-height: 760px;

  .post__edit {
    position: absolute;
    width: fit-content;
    top: 3px;
    left: 45%;
    right: 55%;
    font-size: $small;
    cursor: pointer;
    &:hover {
      color: $blackShadow;
    }
  }

  .post__del {
    position: absolute;
    width: fit-content;
    top: 3px;
    left: 55%;
    right: 45%;
    font-size: $small;
    cursor: pointer;
    &:hover {
      color: $blackShadow;
    }
  }

  .guest {
    position: absolute;
    text-align: center;
    color: $tur;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0.5em;
    width: fit-content;

    &:hover {
      text-decoration: underline;
    }
  }

  .article__post {
    max-width: 800px;
    width: 100%;
    padding: 1em;
    margin: 0.8em auto;
    border: 1px solid $blackShadow;
    display: flex;
    position: relative;

    .post__view {
      position: absolute;
      right: 16px;
      top: 18px;
      font-size: $small;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    @media #{$medium} {
      margin: 0.8em 0;
    }

    & > a {
      color: black;
    }

    .post__title {
      padding: 0.5em 0;
      margin-bottom: 1.2em;
      position: relative;
      width: fit-content;
      min-width: 60px;
      word-break: break-word;
      text-overflow: ellipsis;
      white-space: pre-line;
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 60%;
        height: 2px;
        background: $blackShadow;
        content: "";
      }
    }

    .post__desc {
      font-size: $medium;
      display: block;
      line-height: 20px;
      overflow: hidden;

      p {
        word-break: break-word;
        white-space: pre-line;
        text-overflow: ellipsis;
      }
    }

    .post__info {
      margin-top: 1em;
      font-size: $small;
    }
  }
}
