@import "../../Styles/var";
@import "../../Styles/Animation/boardAni.scss";

.contents {
    width: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    min-height: 760px;
    align-items: center;
    @media #{$phone} {
        padding: 3em 1em 3em 1em;
    }

    .guest__edit {
        position: absolute;
        width: fit-content;
        top: 3px;
        left: 45%;
        right: 55%;
        font-size: $ss;
        cursor: pointer;
        &:hover {
            color: $blackShadow;
        }
    }

    .guest__del {
        position: absolute;
        width: fit-content;
        top: 3px;
        left: 55%;
        right: 45%;
        font-size: $ss;
        cursor: pointer;
        &:hover {
            color: $blackShadow;
        }
    }

    .guest {
        color: $tur;
        width: fit-content;
        margin: 0 auto;
        height: 100px;
        line-height: 60px;

        &:hover {
            text-decoration: underline;
        }
    }

    .article__guest {
        max-width: 800px;
        width: 100%;
        padding: 1em;
        margin: 0.8em auto;
        border: 1px solid $blackShadow;
        display: flex;
        position: relative;
        animation: upAnimation 500ms;

        .guest__view {
            position: absolute;
            right: 16px;
            top: 10px;
            font-size: $ss;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        @media #{$medium} {
            margin: 0.8em 0;
        }

        & > a {
            color: black;
        }

        .guest__title {
            padding: 0.5em 0;
            margin-bottom: 1.2em;
            position: relative;
            width: fit-content;
            min-width: 60px;
            word-break: break-word;
            text-overflow: ellipsis;
            white-space: pre-line;
            &::before {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 60%;
                height: 2px;
                background: $blackShadow;
                content: "";
            }
        }

        .guest__desc {
            font-size: $ms;
            display: block;
            line-height: 20px;
            overflow: hidden;
            font-size: 13px;

            p {
                word-break: break-word;
                white-space: pre-line;
                text-overflow: ellipsis;
            }
        }

        .guest__info {
            margin-top: 1em;
            font-size: $ss;
        }
    }
}

@include animation-mixin(upAnimation, -100%, 0%);
