$font-black: black;
$font-white: white;
$bg-night: black;
$bg-white: white;
$font-Large: 20px;

$yellow: rgb(251, 188, 31);
$pink: rgb(243, 129, 127);
$dark-grey: rgb(123, 124, 129);
$tur: rgb(76, 168, 208);
$light-blue: rgb(153, 194, 232);
$blackShadow: rgba(0, 0, 0, 0.3);
$blue: #0984e3;
$red: #d63031;
$green: #00b894;
$deep-green: #238b12;

$phone: "all and (max-width: 768px)";
$medium: "all and (max-width: 1000px)";
$desktop: "all and (min-width:769px)";
