@mixin animation-mixin($name, $from, $to) {
    @keyframes #{$name} {
        0% {
            transform: translateY(-$from);
            opacity: 0;
        }
        100% {
            transform: translateY($to);
            opacity: 1;
        }
    }
}
