@import "../../Styles/var";

.arrowup {
  width: 52px;
  height: 52px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  z-index: 15;
  color: $black;
  position: fixed;
  right: 9%;
  @include border;
  bottom: 5%;
  transition: 500ms;
  cursor: pointer;

  &:hover {
    color: $yellow;
  }
}
