@import "../../Styles/var";

.arrowup {
  width: 52px;
  height: 52px;
  text-align: center;
  line-height: 70px;
  border-radius: 50%;
  z-index: 15;
  color: $black;
  background: $white;
  position: fixed;
  right: 50px;
  @include border;
  bottom: 5%;
  transition: 500ms;
  cursor: pointer;

  @media #{$phone} {
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 60px;
  }
  &:hover {
    color: $yellow;
  }
}
