@import "../../Styles/var";

.main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  height: 100vh;
  width: 100%;

  @media #{$phone} {
    flex-direction: column;
  }

  .main__hash {
    width: 50%;
    height: 100%;
    text-align: center;
    padding: 3em;
    margin: 0 auto;
    display: flex;
    font-size: $medium;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $blackShadow;
    align-items: center;
    @media #{$phone} {
      width: 100%;
      font-size: $small;
      margin-top: 1.5em;
    }

    .main__hash-box {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;

      .main__hash-tag {
        padding: 0.5em;
        width: fit-content;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .main__hello {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    @media #{$phone} {
      width: 100%;
      border-top: 1px solid $blackShadow;
      margin-bottom: 3em;
    }
    @media #{$iphone} {
      font-size: $medium;
    }
  }
}

a {
  color: $black;
}
