@import "../../Styles/var";

.main {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    height: 90vh;
    width: 100%;
    background-attachment: fixed;
    position: relative;

    @media #{$phone} {
        flex-direction: column;
    }

    .main__hash {
        width: 50%;
        text-align: center;
        flex-direction: column;
        margin: 0 auto;
        display: flex;
        font-size: $ms;
        justify-content: center;
        align-items: center;
        border-right: 1px solid $blackShadow;

        @media #{$phone} {
            width: 100%;
            font-size: $ms;
            margin-top: 1.5em;
            height: 50%;
        }

        .main__hash-box {
            flex-wrap: wrap;
            height: 50%;
            display: flex;
            justify-content: center;
            .main__hash-tag {
                padding: 0 0.5em;
                height: auto;
                cursor: pointer;
                font-size: 16px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .main__hello {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        position: relative;
        @media #{$phone} {
            width: 100%;
            height: 50%;
            border-top: 1px solid $blackShadow;
            margin-bottom: 3em;
            font-size: $ms;
        }
        @media #{$iphone} {
            font-size: $ms;
        }

        .main__btn {
            display: flex;
            height: 50%;
            flex-direction: column;
            @media #{$phone} {
                margin-top: 3em;
            }

            .main__btn-guest,
            .main__btn-about,
            .main__btn-post {
                margin: 1em 0;
                border-bottom: 2px solid $red;
                color: $black;

                &:hover {
                    color: $red;
                    border-bottom: 2px solid $marin;
                }
            }
        }
    }
}

.main__hash-title {
    position: relative;
    top: 0;
    font-family: "Fira Mono", monospace;
    font-size: $ls;
    padding-bottom: 0.6em;
    margin-bottom: 1em;
    border-bottom: 2px solid $yellow;
}

a {
    color: $black;
    font-size: $ms;
}
