@import "../../Styles/var";

.tag__form {
  @include padding;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .tag__input {
    width: 250px;
    @include padding;
    height: 32px;
  }
  .tag__input-btn {
    @include border;
    cursor: pointer;
    font-size: $small;
    height: 30px;
    padding: 0 0.3em;

    &:hover {
      background: $blackShadow;
      color: $white;
    }
  }
}
.tags__text {
  font-size: $small;
  margin-bottom: 2em;
  width: 100%;
  text-align: center;
}
