@import "../../var";

.posting__form {
  width: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  input {
    padding: 0.8em 1em;
    width: 70%;
    margin-bottom: 1em;
    @media #{$phone} {
      width: 80%;
    }
  }
  input[type="file"] {
    padding: 1em;
  }
  .form__submit {
    padding: 1em;
    cursor: pointer;
    background-color: $bg-night;
    color: $font-white;
    cursor: pointer;
    border-radius: 12px;
    font-size: $font-Large;
    border: none;
    outline: none;
  }
  .quill {
    width: 100%;
    .ql-snow {
      width: 70%;
      padding: 1em;
      margin: 0 auto;
      @media #{$phone} {
        width: 80%;
      }
    }
    .ql-container {
      width: 70%;
      min-height: 550px;
      @media #{$phone} {
        width: 80%;
        margin: 0 auto 1em auto;
      }
    }
  }
}

// pagination

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  a {
    outline: none;
  }
  .previous,
  .next {
    cursor: pointer;
    margin: 0 0.25em;
  }
  .page-btn {
    padding: 0.15em;
    cursor: pointer;
    a {
      padding: 0.35em;
    }
  }

  .active {
    border: 1px solid $blackShadow;
    color: white;
    background: $blackShadow;
  }
}
