@import "../../Styles/var";

.posting__form {
  width: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 480px;
  max-width: 1440px;
  margin: 0 auto;

  input {
    padding: 0.8em 1em;
    width: 70%;
    margin-bottom: 1em;
    @media #{$phone} {
      width: 80%;
    }
  }

  .form__submit {
    @include button;
    margin-bottom: 1em;
  }

  .quill {
    width: 100%;

    .ql-snow {
      width: 70%;
      padding: 1em;
      margin: 0 auto;
      @media #{$phone} {
        width: 80%;
      }
    }

    .ql-container {
      width: 70%;
      min-height: 550px;
      @media #{$phone} {
        width: 80%;
        margin: 0 auto 1em auto;
      }
    }
  }
}

// pagination

.pagination {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  a {
    outline: none;
  }

  .previous,
  .next {
    cursor: pointer;
    margin: 0 0.25em;
  }

  .page-btn {
    padding: 0.15em;
    cursor: pointer;

    a {
      padding: 0.35em;
    }
  }

  .active {
    border: 1px solid $blackShadow;
    color: $black;
    background: $white;
  }
}

.tag__form {
  @include padding;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .tag__input {
    width: 250px;
    @include padding;
  }
  .tag__input-btn {
    @include border;
    @include padding;
    cursor: pointer;
  }
}
.tags__text {
  font-size: $small;
  margin-bottom: 2em;
  width: 100%;
  text-align: center;
}
