@import "../../Styles/var";
@import "../../Styles/Animation/boardAni.scss";

.post__wrap {
  min-height: 480px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
  @media #{$phone} {
    padding-bottom: 3em;
  }

  .post__form-empty {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 6em;
    align-items: center;
  }
}

.post__category {
  font-size: $small;
  padding-bottom: 1em;
}

.post {
  margin: 0 auto;
  width: fit-content;
  height: 60px;
  line-height: 60px;
  span {
    margin: 0 0.5em;
    cursor: pointer;

    &:hover {
      color: $blue;
    }

    a {
      color: $tur;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

.post__form {
  width: 70%;
  margin: 1.5em auto;
  display: flex;
  flex-direction: column;

  @media #{$phone} {
    width: 90%;
  }

  .post__form-type {
    position: relative;
    animation: upAnimation 1s;

    .post__edit {
      position: absolute;
      width: 40px;
      text-align: center;
      right: 40px;
      bottom: 20%;
      font-size: $small;
      padding: 0.3em;
      cursor: pointer;
      color: $black;
      border-right: 1px solid $blackShadow;

      &:hover {
        color: $blackShadow;
      }
    }

    .post__form-del {
      position: absolute;
      width: fit-content;
      bottom: 20%;
      right: 20px;
      padding: 0.3em;
      font-size: $small;
      cursor: pointer;

      &:hover {
        color: $blackShadow;
      }
    }

    .post__form-title {
      background: $tur;
      color: $white;
      @include padding;
      @include top-bottom-border;
      position: relative;

      .post__tags {
        position: absolute;
        bottom: -100%;
        right: 0;
        top: 35px;
        color: $darkgrey;
        font-size: $small;

        [data-tag] {
          z-index: 3;
          margin-right: 0.2em;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .post__form-desc {
      padding-bottom: 1em;
      display: block;
      height: 200px;
      color: $black;
      font-size: 13px;

      .ql-editor {
        word-break: break-word;
        overflow: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        & > * {
          cursor: pointer;
        }
      }
    }

    .post__form-date {
      border-bottom: 1px solid $blackShadow;
      padding-bottom: 1em;
      text-align: right;
      margin-bottom: 2em;
      color: $darkgrey;
      letter-spacing: -1px;
    }
  }
}

.post__form-page {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

@include animation-mixin(upAnimation, 500%, 0%);
