@import "../var";

header {
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  height: 45px;
  font-size: 14px;
  background: $bg-white;
  color: $font-black;
  .header__menu {
    display: flex;
  }
  .header__logo {
    width: 250px;
    height: 250px;
    font-size: 16px;
    //  color change
  }
  li {
    margin: 1em;
  }
  a {
    color: $font-black;
  }
  a:hover {
    color: #238b12;
  }
}
.header__hamburger {
  font-size: 1.5rem;
  position: relative;
  top: -15px;
  cursor: pointer;
}
