@import "../../Styles/var";

.about {
  z-index: -1;
  pointer-events: none;
  width: 100%;
  div {
    width: 100%;
    min-height: 700px;
    &.slide__one {
      background: url("../../image/1.jpg") no-repeat center;
      background-size: cover;
    }
    &.slide__two {
      background: url("../../image/2.jpg") no-repeat center;
      background-size: cover;
    }
    &.slide__three {
      background: url("../../image/3.jpg") no-repeat center;
      background-size: cover;
    }

    h1 {
      line-height: 200px;
      text-align: left;
      margin-left: 3%;
      padding-top: 4em;
      color: white;
    }
    h3 {
      margin-left: 3%;
      text-align: left;
      color: $yellow;
    }
  }
}

.about__desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2em;
  .about__icons {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1em;
    font-size: 2rem;
    .about__stack-icon {
      margin: 0.3em;
      width: 70px;
      height: 70px;
      border: 1px solid black;
      padding: 10px;
      border-radius: 25%;
      cursor: pointer;
      span {
        font-size: $font-Large;
      }
    }
  }
}
// icons color

.html {
  color: $red;
}

.css {
  color: $blue;
}

.js {
  color: $yellow;
}

.node {
  color: $green;
}

.react {
  color: $tur;
}

.sass {
  color: $red;
}

.babel {
  color: $yellow;
}
