@import "../../Styles/var";

.flash__message {
  top: 0;
  position: absolute;
  height: 50px;
  width: 100%;
  background-color: $pink;
  text-align: center;
  line-height: 50px;
  animation: flash 4000ms forwards;
}

@keyframes flash {
  0% {
    transform: translateY(-50px);
  }

  25% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-50px);
  }
}

.register__title {
  color: $black;
}

.register__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 480px;

  input {
    padding: 1em 1em;
    margin: 1em 0;
    width: 25%;
    min-width: 300px;
    border-radius: 12px;
  }

  .form__submit {
    @include button;
  }
}
