$black: #333333;
$white: #fdfdfd;
$Large: 24px;
$medium: 18px;
$small: 12px;

$yellow: rgb(251, 188, 31);
$pink: rgb(243, 129, 127);
$darkgrey: rgb(123, 124, 129);
$tur: rgb(76, 168, 208);
$lightblue: rgb(153, 194, 232);
$blackShadow: rgba(0, 0, 0, 0.2);
$blue: rgb(153, 194, 232);
$darkblue: rgb(115, 170, 206);
$gray: #dbdbdb;
$red: #d63031;
$green: #00b894;
$deepgreen: #238b12;

$iphone: "all and (max-width: 480px)";
$phone: "all and (max-width: 768px)";
$desktop: "all and (min-width:769px)";
$medium: "all and (max-width: 1000px)";
$large: "all and (max-width: 1280px)";

@mixin center($top: -50%) {
  top: $top;
  left: 50%;
  transform: translate(-50%, $top);
}

@mixin button($bgColor: $tur, $hoverColor: $lightblue) {
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: $bgColor;
  color: $white;
  border-radius: 12px;
  border: none;
  outline: none;
  width: 250px;
  text-align: center;
  margin-top: 0.6em;

  &:hover {
    background-color: $hoverColor;
  }
}

@mixin padding($padding: 0.5em 1em) {
  padding: $padding;
}

@mixin border($border: 1px solid $blackShadow) {
  border: $border;
}
