@import "./var";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding-top: 60px;
  background-color: $white;
  font-family: "NEXON Lv1 Gothic OTF";

  &::-webkit-scrollbar {
    border-radius: 12px;
    background: $blackShadow;
    width: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $blackShadow;
    border-radius: 12px;
  }
}

input,
textarea,
button,
select {
  outline: none;
}

input,
textarea,
select {
  @include border;
  box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.08);
}

select {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p,
ul,
li,
button {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
  border: none;
  font-size: $medium;
  background: transparent;
  cursor: pointer;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: "paybooc-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv1 Gothic OTF";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
