@import "../../Styles/var";

.search-btn {
  width: 50px;
  height: 50px;
  line-height: 65px;
  text-align: center;
  border-radius: 50%;
  z-index: 15;
  @include border;
  background-color: $white;
  color: $black;
  position: fixed;
  cursor: pointer;
  right: 120px;
  bottom: 5%;
  transition: 500ms;

  @media #{$phone} {
    bottom: 100px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 58px;
  }

  &:hover {
    color: $yellow;
  }
}
